<div class= {{class}}>
  <h1>Our Mission </h1>
  <p>Drone Pop Recordings is an RI based experimental music label serving as an outlet for musician Jennifer Maynard’s two acts: her solo project Pink Flicker, and the noise rock duo QUEEN PLAY.  </p>
  
  <p>Music is to be heard and we find it important in times of heightened violence and media noise against trans communities that trans art be amplified. Art and music are manifestations of mankind’s ability to create outward expressions of inner beauty. To live trans is no different a Sprocess. </p>
  <h2>Meet Our Artists </h2>


</div>
<div class= {{class2}}>
    <div class={{a1}}>
        <h3 id="pheader">Pink Flicker</h3>
        <a href="pinkflicker"><img src={{imgURL1}} class="artpic" alt="Pink Flicker Artist Picture" style="width:{{default}}; height:{{default}}"></a>

    </div>

    <div class={{a2}}>
        <h3 id="qheader">QUEEN PLAY</h3>
        <a href="queenplay"><img src={{imgURL2}} class="artpic" alt="Queen Play Artist Picture" style="width:{{default}}; height:{{height}}"></a>
    </div>
    
</div>


<div class={{credits}}> 
  <hr>

		<p class="name"><em>Created by</em>: <strong>Francis Batz-lux</strong> </p>
 		<address> <p class="name"><a href="mailto:fbatz-lux@uri.edu"> fbatz-lux@uri.edu</a></address>
</div>