
        
            
<h1 id="qp_title">{{title}}</h1>

<div class ="qpbox">
        <div>
            <img id ="qp-img" src={{imgURL}} alt="QUEENPLAY Artist Picture">
        </div>
        <div>
            <img id="qplogo_" src={{imgURL1}} class="artpico" alt="Queen Play Artist Picture" style="width:300px; height:250px">
        </div>
    
        <div>
            <img id="newjen" src={{imgURL2}} alt="Jen profile pic" style="width:300px; height:400px">
        </div>
    
	    
	
    
</div>

<div class="testinga">
    <div id ="qpbio">
        <p> Click on any of the pictures above to learn more about QUEEN PLAY!</p>
    </div>
    
    <div id ="qplists">
        <p>Click the button below for more!</p>
    </div>
    

	<h3>Follow QUEEN PLAY</h3>
	<a href="https://open.spotify.com/artist/3wuO84jZTwGGTAFPbhi3Tz?si=BOXPNTAeTNq52NsZYk4E-Q"><img src={{spotify}} class="logo" alt="Spotify Green Logo" style="width:{{width}}; height:{{height}}"></a>

	<a href="https://music.amazon.com/artists/B0BQ6X2ZHQ/queen-play?marketplaceId=ATVPDKIKX0DER&musicTerritory=US&ref=dm_sh_I68pxpQdZTT37kQujnShM0sOk"><img src={{amazon}} class="logo" alt="Amazon Music Logo" style="width:{{width1}}; height:{{height}}"></a>

	<a href="https://music.apple.com/us/artist/queen-play/1659983969"><img src={{apple}} class="logo" alt="Apple Music Logo" style="width:{{width}}; height:{{height}}"></a>


    
</div>


<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>

<script>
    window.jQuery || document.write('script src="jquery-3.6.3.min.js"><\/script')
</script>

<script src={{script1}}></script>



        
    

